<div class="loader" *ngIf="showLoader">Loading...</div>
<div class="container">

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title"></h6>
          <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
        </div>
        <div class="container-fluid bg-black text-white text-center">
          Invoice
        </div>
        <div class="modal-body">
          <div class="container mt-4">

            <div class="row">
              <div class="col-md-8">
                <h6>Bill to..</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h4>Spark Magnum Tech</h4>
                <h6>B 23, Sector-27</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                Noida, Uttar Pradesh - 201301
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                GST: <p></p>
              </div>
              <div class="col-md-3 invoice_num_heading">
                <p>Invoice No : {{invoiceNo}}<br>
                  Invoice Date : {{createdAt | date: 'dd-MM-yyyy'}} <br>
                  Due Date : {{dueDate | date: 'dd-MM-yyyy'}}

                </p>
              </div>
            </div>
            <p></p>


            <table class="table">
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Item & Description</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor=" let item of invoiceItemList let i = index">
                  <td>{{ i +1}}</td>
                  <td>{{ item.itemName }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.rate }}</td>
                  <td>{{ item.amount }}</td>
                </tr>



                <tr>
                  <td rowspan="4"></td>
                  <td rowspan="4"></td>
                  <td rowspan="4"></td>
                  <th>GST Amount</th>
                  <td>&#8377; 2800</td>
                </tr>

                <tr>
                  <th>Discount</th>
                  <td>&#8377; 0</td>
                </tr>

                <tr>
                  <th>Total Amount</th>
                  <td>&#8377; {{totalAmount}}</td>
                </tr>
                <tr>
                  <th>Due Amount</th>
                  <td>&#8377; {{totalAmount}}</td>
                </tr>

              </tbody>
            </table>

          </div>

          <div *ngFor=" let header of invoiceHeaderList let i = index">
            <textarea style="float: left; width: 100%; margin-top: 6px; height: 150px; border: none;" value="{{header.footer}}" readonly></textarea>
          </div>

          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="table-responsive">

    <div styleClass="view-container">
      <div class="view-heading"> Invoice List </div>

      <table class="table table-striped" id="customers">
        <thead>
          <tr>
            <th>Invoice No.</th>
            <th>Name</th>
            <th>Total Item</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor=" let InvNumList of invoiceNumberList | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index">
            <td>{{ InvNumList.invoiceNo }}</td>
            <td>{{ InvNumList.customerName }}</td>
            <td>{{ InvNumList.totalItem }}</td>
            <td>{{ InvNumList.totalAmount }}</td>
            <td>{{ InvNumList.status }}</td>
            <td><button type="button" class="btn btn-primary" (click)="openPopup(InvNumList)">More</button>
              <svg cIcon name="cilPaperPlane" size="xl" title="Paper Plane Icon"></svg>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>