<c-card>
    <div class="form-main-container">
        <div class="add-user-main-container">
            <div class="add-user-main-header">Application Details</div>

            <div *ngIf="isLoading; else dataContent">
        
                <div class="loader">
                  <!-- <c-spinner color="primary"></c-spinner> -->
                  <div class="spinner"></div>
                  <img src="assets/img/brand/logo.png" alt="Loading..." />
                </div>
                
              </div>
              
              <ng-template #dataContent>



            <form [formGroup]="applicationForm" (ngSubmit)="saveAndUpdateAppDetails()">

                <div class="row">
                    <!-- <div class="col-sm-3 form-group">
                        <label class="form-label">Created By</label>
                        <input class="form-control" type="text" pInputText formControlName="createdBy" maxlength="100">
                    </div> -->
                    

                    <div class="col-sm-6 form-group">
                        <label class="form-label">Menu Display Logo</label><br>
                        <img src="{{displayLogo}}" width="400" height="100">
                        <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Login Page Wallpaper</label><br>
                        <img src="{{loginPageWallpaper}}" width="400" height="100">
                        <input class="form-control" type="file" (change)="onFileLoginPageWallpaper($event)" accept="image/*">
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Login Page Logo</label>
                        <input class="form-control" type="number" pInputText formControlName="loginPageLogo"
                            maxlength="100">
                    </div>
                    
                </div> -->

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">IP Address</label>
                        <input class="form-control" type="text" pInputText formControlName="ipAddress" maxlength="100">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Footer Display Name</label>
                        <input class="form-control" type="text" pInputText formControlName="displayName" maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="form-label">Email Id</label>
                        <input class="form-control" type="text" pInputText formControlName="emailId"
                            maxlength="100">

                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="form-label">Website</label>
                        <input class="form-control" type="text" pInputText formControlName="website" maxlength="100">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label class="form-label">Phone Number</label>
                        <input class="form-control" type="text" pInputText formControlName="PhoneNumber"
                            maxlength="100">
                    </div>
                </div>

                <div class="submit-button">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            </ng-template>
        </div>
    </div>
</c-card>