<c-card>
    <div class="form-main-container">
        <div class="add-user-main-container">
            <div class="add-user-main-header">Add Donation Receipt</div>

            <div *ngIf="isLoading; else dataContent">
        
                <div class="loader">
                  <!-- <c-spinner color="primary"></c-spinner> -->
                  <div class="spinner"></div>
                  <img src="assets/img/brand/logo.png" alt="Loading..." />
                </div>
                
              </div>
              
              <ng-template #dataContent>



            <form [formGroup]="addDonationForm" (ngSubmit)="saveDonationDetails()">

                <div class="row">
                    <!-- <div class="col-sm-3 form-group">
                        <label class="form-label">Created By</label>
                        <input class="form-control" type="text" pInputText formControlName="createdBy" maxlength="100">
                    </div> -->
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Receipt Type</label>
                        <select class="form-control" formControlName="invoiceHeaderDetailsId" (change)="onProgramSelect($event)">
                            <option disabled selected>Select an option</option> 
                            <option *ngFor="let invoiceType of invoiceTypeList" [ngValue]="invoiceType.id">{{invoiceType.companyFirstName+" "+invoiceType.companyLastName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Donor Name</label>
                        <input class="form-control" type="text" pInputText formControlName="donorName" maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Mobile Number</label>
                        <input class="form-control" type="number" pInputText formControlName="mobileNumber"
                            maxlength="100">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Email Id</label>
                        <input class="form-control" type="text" pInputText formControlName="emailId" maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Address</label>
                        <input class="form-control" type="text" pInputText formControlName="address" maxlength="100">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Pan</label>
                        <input class="form-control" type="text" pInputText formControlName="panNumber" maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="form-label">Program</label>
                        <select class="form-control" formControlName="programName" (change)="onProgramSelect($event)">
                            <option aria-readonly="true">Select Program</option>
                            <option *ngFor="let donationOpt of donationTypeList">{{donationOpt.programName}}</option>
                        </select>

                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="form-label">Amount</label>
                        <input class="form-control" type="number" pInputText pKeyFilter="int" formControlName="amount"
                            maxlength="100">
                    </div>
                    <!-- <div class="col-sm-1 form-group">
                        <label class="form-label">Currency</label>
                        <select class="form-control" formControlName="currencyCode">
                            <option *ngFor="let currency of currencyList" [ngValue]="currency.currencyCode">{{currency.currencyCode+" "+currency.unicode}}</option>
                        </select>
                    </div> -->

                    <div class="col-sm-1 form-group" *ngIf="showCurrencyBox">
                        <label class="form-label">Currency</label>
                        <select class="form-control" formControlName="currencyCode" (change)="setCurrency($event)">
                            <option *ngFor="let currency of currencyList" [ngValue]="currency">{{currency.currencyCode+" "+currency.unicode}}</option>
                        </select>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label class="form-label">Transaction Id</label>
                        <input class="form-control" type="text" pInputText formControlName="transactionId"
                            maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Payment Mode</label>
                        <select class="form-control" formControlName="paymentMode">
                            <option aria-readonly="true">Select Payment Mode</option>
                            <option *ngFor="let payModOpt of paymentModeList">{{payModOpt.paymentMode}}</option>
                        </select>
                    </div>

                    <div class="col-sm-6 form-group" *ngIf="showFundrisingOfficerList">
                        <label class="form-label">Select Fundrising Officer</label>
                        <select class="form-control" formControlName="createdBy">
                          <option aria-readonly="true" value="N/A">Select Fundrising Officer</option>
                          <option [value]="fundRisingOffcer.loginId" *ngFor="let fundRisingOffcer of fundRisingOffcerList" >
                            {{fundRisingOffcer.firstName}} {{fundRisingOffcer.lastName}}
                          </option>
                        </select>
                      </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Remarks</label>
                        <textarea style=" float: left; width: 100%; margin-top: 6px; height:150px"
                            formControlName="notes" placeholder="Write Notes.."></textarea>
                    </div>
                </div>



                <div class="submit-button">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            </ng-template>
        </div>
    </div>
</c-card>