.table-container {
    max-height: 350px;
    overflow: auto;
  }
  
  .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .table thead {
    position: sticky;
    top: 0;
    background-color: #fff; /* Change this to match your table header background */
  }
  
  .table th {
    text-align: left;
    padding: 5px;
  }
  
  .table td {
    padding: 3px;
    border-bottom: 1px solid #ddd; /* Optional: Add bottom border to table cells */
    font-size: 15px;
  }
  

  /* Styles for the tabs */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #036f8a;
}


/* Example media query for smaller devices */
@media (max-width: 768px) {
  /* Add your responsive CSS rules here */
  .tab button {
    /* Adjust button styles for smaller screens */
    font-size: 14px;
    padding: 8px 12px;
  }

  /* Additional styles for smaller screens */
  /* ... */
}


.startcontainer {
  position: relative;
}
.starimage {
  position: absolute;
  position: absolute;
  top: 50px;
  left: 50px;
  height: 200px;
  width: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-9, .col-3, .col-6 {
  padding: 15px;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.startcontainer {
  text-align: center;
}
.startcontainer img {
  max-width: 100%;
  height: auto;
}
.starimage {
  display: block;
  margin: 10px auto 0;
}
@media (max-width: 768px) {
  .col-9, .col-3, .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}


.info-box {
  display: flex;
  position: relative;
  min-height: 80px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
}

.info-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 45px;
  color: white;
}

.info-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  flex: 1;
}

.info-box-text {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.info-box-number {
  font-weight: bold;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.progress {
  display: flex;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background-color: white;
}

.progress-description {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.bg-success {
  background-color: #28a745 !important;
}
.bg-primary {
  background-color: #0905e4 !important;
}
.bg.warning {
  background-color: #8a7206 !important;
}
.bg.danger {
  background-color: #ec0606 !important;
}

.bg-success .info-box-icon {
  background: #28a745;
}