<!-- <div *ngIf="diffInDays <= 15 && isSuperadmin">
  <marquee>
    <p style="color: red; font-weight: bold;">Your plan is set to expire on {{ validityExpireOn | date:'dd/MM/yyyy' }}. Please renew now to continue enjoying uninterrupted service.</p>
  </marquee>
</div> -->

<c-row>
  <c-col sm="3" lg="3" xl="3" *ngIf="isSuperadmin">
    <div class="info-box bg-primary">
      <span class="info-box-icon"><i class="pi pi-user " style="font-size: 2rem"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">User</span>
        <span class="info-box-number">{{activeUserCount}}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">Total user: {{activeUserCount + inactiveUserCount}}</span>
      </div>
    </div>
  </c-col>

  <c-col sm="3" lg="3" xl="3">
    <div class="info-box bg-warning">
      <span class="info-box-icon"><i class="pi pi-sync" style="font-size: 1.6rem"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Today's</span>
        <span class="info-box-number">&#8377;{{todaysAmount}}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">Total count: {{todaysCount}}</span>
      </div>
    </div>
  </c-col>

  <c-col sm="3" lg="3" xl="3">
    <div class="info-box bg-success">
      <!-- <span class="info-box-icon"><i class="pi pi-spin pi-slack" style="font-size: 1.8rem"></i></span> -->
      <span class="info-box-icon"><i class="pi pi-slack" style="font-size: 1.8rem"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Yesterday's</span>
        <span class="info-box-number">&#8377;{{yesterdayAmount}}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">Total count: {{yesterdayCount}}</span>
      </div>
    </div>
  </c-col>

  <c-col sm="3" lg="3" xl="3">
    <div class="info-box bg-danger">
      <span class="info-box-icon"><i class="pi pi-spinner" style="font-size: 2rem"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">{{currentMonthName}}</span>
        <span class="info-box-number">&#8377;{{monthAmount}}</span>
        <div class="progress">
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <span class="progress-description">Total count: {{monthCount}}</span>
      </div>
    </div>
  </c-col>
</c-row>

<div class="row">
  <div class="col-2">
    <div >
      <img src="assets/img/star/star.png" class="startbg">
      <!-- <img src="https://www.w3schools.com/howto/img_avatar.png" class="starimage"> -->
      <div class="starname">
        <h5>{{starfundrisingofficer}}</h5>
         <!-- <small>(for {{previousMonthName}})</small>  -->
      </div> 
      <!-- <div class="slideshow-container">
        <div *ngFor="let slide of slides; let i = index" class="mySlides" [ngStyle]="{ 'display': slideIndex === i + 1 ? 'block' : 'none' }">
          <div class="numbertext">{{ i + 1 }} / {{ slides.length }}</div>
          <img [src]="slide.image" style="width:100%">
          <div class="text">{{ slide.caption }}</div>
        </div>
      
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
      </div> -->
    
      
      <!-- <div style="text-align:center">
        <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{ 'active': slideIndex === i + 1 }" (click)="currentSlide(i + 1)"></span> 
      </div> -->
    </div>
  </div>
  <div class="col-2 container">
    <div >
      <img src="assets/img/star/star-team.png" class="startbg">
      <!-- <img src="https://www.w3schools.com/howto/img_avatar.png" class="starimage"> -->
      <div class="starname">
        <h5>{{starfundrisingofficer}}</h5>
         <!-- <small>(for {{previousMonthName}})</small>  -->
      </div> 
      
    </div>
  </div>
  <div class="col-8">
    <div id="curve_chart" style="width: 100%; height: 280px"></div>  
  </div>
</div>
<p></p><p></p>

<div *ngIf="isSuperadmin">
  <div class="row">
    <div class="col-6">
      <c-card>
        <div class="tab">
          <button class="tablinks" (click)="openDetails('TODAY')" [class.active]="isTabActive('TODAY')">Today</button>
          <button class="tablinks" (click)="openDetails('YESTERDAY')" [class.active]="isTabActive('YESTERDAY')">Yesterday</button>
          <button class="tablinks" (click)="openDetails('MONTH')" [class.active]="isTabActive('MONTH')">{{ currentMonthName }}</button>
        </div>
        <div class="table-container" style="padding: 20px;">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr *ngFor="let FRToday of FRToday">
                <td>
                  <ng-container *ngIf="FRToday[3]; else otherImage">
                    <img src="data:image/png;base64,{{FRToday[3]}}" size="lg" width="30px" height="30px">
                    {{FRToday[0]}}
                  </ng-container>
                  <ng-template #otherImage>
                    <img src="https://www.shareicon.net/data/128x128/2016/05/24/770117_people_512x512.png" size="lg" width="30px" height="30px">
                    {{FRToday[0]}}
                  </ng-template>
                </td>
                <td>{{FRToday[1]}}</td>
                <td> {{FRToday[2]}} {{FRToday[4]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </c-card>
    </div>
    <div class="col-6">
      <c-card>
        <div class="tab">
          <button class="tablinks" (click)="openPaymentDetails('TODAY')" [class.active]="isPaymentTabActive('TODAY')">Today</button>
          <button class="tablinks" (click)="openPaymentDetails('YESTERDAY')" [class.active]="isPaymentTabActive('YESTERDAY')">Yesterday</button>
          <button class="tablinks" (click)="openPaymentDetails('MONTH')" [class.active]="isPaymentTabActive('MONTH')">{{ currentMonthName }}</button>
        </div>
        <div class="table-container" style="padding: 20px;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Payment Type</th>
                <th scope="col">Count</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr *ngFor="let PaymentModeCountAmount of PaymentModeCountAmount">
                <td>{{PaymentModeCountAmount[0]}}</td>
                <td>{{PaymentModeCountAmount[1]}}</td>
                <td>₹ {{PaymentModeCountAmount[2]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </c-card>
    </div>
  </div>
</div>



